body {
    background-color: #c9533e;
    padding: 0;
    margin: 0;
}

.container {
    border: 1px solid white;
    height: 530px;
    width: 350px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.window {
    width: 250px;
    height: 390px;
    background-color: #29467a;
    outline: 12px solid #2d2623;
    border-left: 5px solid #439abf;
    border-right: 5px solid #439abf;
    position: relative;
    top: 20px;
    left: 45px;
}

.window::before,
.window::after {
    content: "";
    position: absolute;
    background: linear-gradient(#439abf 50%, #2d2623 50%);
}

.window::after {
    height: 15px;
    width: 260px;
    left: -5px;
    top: 200px;
}

.window::before {
    height: 15px;
    width: 310px;
    left: -30px;
    bottom: -15px;
}

.mountain-1 {
    height: 0;
    width: 0;
    border-bottom: 60px solid #22366d;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
}

.mountain-1::before,
.mountain-1::after,
.mountain-2::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 60px solid #22366d;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.mountain-1::before {
    bottom: -60px;
    left: 5px;
}

.mountain-1::after {
    bottom: -60px;
    left: 35px;
}

.mountain-2 {
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 60px solid #22366d;
    border-left: 20px solid transparent;
    right: 0;
    bottom: 0;
}

.mountain-2::before {
    bottom: -60px;
    right: 10px;
}

.kitty {
    background-color: #2d2623;
    height: 140px;
    width: 50px;
    position: absolute;
    bottom: -15px;
    left: 95px;
    border-radius: 40px 40px 0 0;
}

.kitty:before {
    content: "";
    position: absolute;
    background-color: #2d2623;
    height: 80px;
    width: 40px;
    border-radius: 0 80px 80px 0;
    bottom: 0;
    left: 43px;
}

.kitty:after {
    content: "";
    position: absolute;
    background-color: #2d2623;
    height: 80px;
    width: 10px;
    border-radius: 5px;
    bottom: -70px;
    left: 45px;
    transform: rotate(-15deg);
    transform-origin: top;
    animation: tail 4s infinite;
}

@keyframes tail {
    50% {
        transform: rotate(10deg);
    }
}

.ear {
    height: 0;
    width: 0;
    border-bottom: 40px solid #2d2623;
    border-right: 33px solid transparent;
    position: relative;
    bottom: 12px;
}

.ear::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 40px solid #2d2623;
    border-left: 33px solid transparent;
    bottom: -40px;
    left: 17px;
}

.moon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: -15px 8px 0 1px #e8ae4a;
    position: absolute;
    left: 50px;
    top: 60px;
}

.star {
    background-color: #e8ae4a;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    /* box-shadow: star2 80px 65px #e8ae4a,
        star3 -120px 150px #e8ae4a,
        star4 -80px 280px #e8ae4a,
        star5 70px 235px #e8ae4a,
        star6 40px 135px #e8ae4a; */
    animation: twinkle 3s infinite;
}

.star-1 {
    left: 140px;
    top: 30px;
}

.star-2 {
    left: 220px;
    top: 95px;
    animation-delay: 0.2s;
}

.star-3 {
    left: 20px;
    top: 180px;
    animation-delay: 0.4s;
}

.star-4 {
    left: 60px;
    top: 310px;
    animation-delay: 0.6s;
}

.star-5 {
    left: 210px;
    top: 265px;
    animation-delay: 0.8s;
}

.star-6 {
    left: 180px;
    top: 165px;
    animation-delay: 1s;
}




@keyframes twinkle {
    50% {
        opacity: 0.4;
    }
}